@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50 
}

@layer components {
    .btn {
        @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm
    }

    .layout {
        background-color: bisque;
        border-radius: 10px;
        padding: 10px;
        color: orangered;
        justify-content: center;
        display: flex;
        font-weight: bold;
    }

    .card {
        @apply bg-gray-200 p-[10px] rounded-md shadow-sm
    }
}